*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	text-decoration: none;
}

body {
	height: 100% !important;
	width: 100% !important;
}

.page {
	display: inline-flex;
	flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    text-align: justify;
    
    .form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: grey;

        .fieldset {
            padding: 2.4rem;
            
            .section {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;

                .card-label {
                    text-transform: uppercase;
                    margin: 0.6rem 0 0.6rem 0;
                }

                .txt {
                    position: absolute;
                    margin: 0.4rem 0 0.4rem 0;
                    left: 35%;
                }
            }

            .description {
                text-transform: capitalize;
                font-weight: bolder;
            }
        }
    }
}

