*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
form,
fieldset,
section,
h1,
p,
label,
input,
select,
option,
button,
textarea {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 100%;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
}



