body {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
  background: repeating-linear-gradient(-45deg, #131314, #131314 1px, #3E92CC 2px, #3E92CC 40px, #3E92CC 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

form {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.65em 1em 1em 1em;
  height: auto;
  width: auto;
  overflow: hidden;
}

form .main-style {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  background: #131314;
  border-top: solid 0.5em #FED766;
  border-bottom: solid 0.5em #FED766;
  border-left: none;
  border-right: none;
  padding: 2em;
}

form .main-style section {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
  border: none;
  color: #FFFAFF;
}

form .main-style section fieldset.contact {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

form .main-style section fieldset.contact label {
  font-weight: bolder;
  font-size: 0.9rem;
}

form .main-style section fieldset.contact input {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
  -webkit-transition: ease-out 0.35s;
  transition: ease-out 0.35s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.4rem;
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  background: none;
  border: solid 0.12em #FFFAFF;
  border-radius: 999em;
  color: #FFFAFF;
  font-size: 0.95rem;
  font-weight: bolder;
  width: 12em;
  margin: 0 2em 0 2em;
}

form .main-style section fieldset.contact input:hover, form .main-style section fieldset.contact input:invalid, form .main-style section fieldset.contact input:valid {
  -webkit-transition: ease-in 0.35s;
  transition: ease-in 0.35s;
}

form .main-style section fieldset.contact input:hover {
  border-color: #3E92CC;
}

form .main-style section fieldset.contact input:invalid {
  border-color: #D8315B;
  -webkit-box-shadow: none;
          box-shadow: none;
}

form .main-style section fieldset.contact input:valid {
  border-color: #FED766;
  -webkit-box-shadow: none;
          box-shadow: none;
}

form .main-style section fieldset.questions {
  border: none;
  margin: 2em 0 0 0;
}

form .main-style section fieldset.questions select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.4rem;
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  background: #131314;
  border: solid 0.12rem #FFFAFF;
  border-radius: 90em;
  color: #FFFAFF;
  text-align: center;
  width: 8rem;
}

form .main-style section fieldset.questions .icons {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 0.3em;
  padding: 0.5em 0 0.5em 0.65em;
}

form .main-style section fieldset.questions input[type=radio] {
  -webkit-transition: ease-out 0.35s;
  transition: ease-out 0.35s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.4rem;
  border: 0.2em solid #FFFAFF;
  border-radius: 999em;
}

form .main-style section fieldset.questions input[type=radio]:hover, form .main-style section fieldset.questions input[type=radio]:invalid, form .main-style section fieldset.questions input[type=radio]:valid {
  -webkit-transition: ease-in 0.35s;
  transition: ease-in 0.35s;
}

form .main-style section fieldset.questions input[type=radio]:checked, form .main-style section fieldset.questions input[type=radio]:hover {
  -webkit-transition: ease-out 0.35s;
  transition: ease-out 0.35s;
  background: #3E92CC;
  border-color: #3E92CC;
}

form .main-style section fieldset.questions input[type=radio]:checked:hover, form .main-style section fieldset.questions input[type=radio]:checked:invalid, form .main-style section fieldset.questions input[type=radio]:checked:valid, form .main-style section fieldset.questions input[type=radio]:hover:hover, form .main-style section fieldset.questions input[type=radio]:hover:invalid, form .main-style section fieldset.questions input[type=radio]:hover:valid {
  -webkit-transition: ease-in 0.35s;
  transition: ease-in 0.35s;
}

form .main-style section fieldset.questions input[type=checkbox] {
  -webkit-transition: ease-out 0.35s;
  transition: ease-out 0.35s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.4rem;
  border: 0.2em solid #FFFAFF;
}

form .main-style section fieldset.questions input[type=checkbox]:hover, form .main-style section fieldset.questions input[type=checkbox]:invalid, form .main-style section fieldset.questions input[type=checkbox]:valid {
  -webkit-transition: ease-in 0.35s;
  transition: ease-in 0.35s;
}

form .main-style section fieldset.questions input[type=checkbox]:checked, form .main-style section fieldset.questions input[type=checkbox]:hover {
  -webkit-transition: ease-out 0.35s;
  transition: ease-out 0.35s;
  background: #D8315B;
  border-color: #FED766;
}

form .main-style section fieldset.questions input[type=checkbox]:checked:hover, form .main-style section fieldset.questions input[type=checkbox]:checked:invalid, form .main-style section fieldset.questions input[type=checkbox]:checked:valid, form .main-style section fieldset.questions input[type=checkbox]:hover:hover, form .main-style section fieldset.questions input[type=checkbox]:hover:invalid, form .main-style section fieldset.questions input[type=checkbox]:hover:valid {
  -webkit-transition: ease-in 0.35s;
  transition: ease-in 0.35s;
}

form .main-style section fieldset.questions textarea {
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  background: #131314;
  border: solid 0.2em #FFFAFF;
  border-radius: 0;
  color: #FFFAFF;
  height: auto;
  width: 24rem;
  padding: 1rem;
  resize: none;
}

form .main-style section fieldset.questions button {
  -webkit-transition: ease-out 0.35s;
  transition: ease-out 0.35s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.4rem;
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  background: #131314;
  border: solid 0.17em #FFFAFF;
  border-radius: 999em;
  color: #FFFAFF;
  font-weight: bolder;
  width: 8em;
}

form .main-style section fieldset.questions button:hover, form .main-style section fieldset.questions button:invalid, form .main-style section fieldset.questions button:valid {
  -webkit-transition: ease-in 0.35s;
  transition: ease-in 0.35s;
}

form .main-style section fieldset.questions button:hover {
  -webkit-transition: ease-out 0.35s;
  transition: ease-out 0.35s;
  background: #D8315B;
  border-color: #D8315B;
  color: #131314;
}

form .main-style section fieldset.questions button:hover:hover, form .main-style section fieldset.questions button:hover:invalid, form .main-style section fieldset.questions button:hover:valid {
  -webkit-transition: ease-in 0.35s;
  transition: ease-in 0.35s;
}
/*# sourceMappingURL=main.css.map */