.main-style {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 2rem;
  margin-top: 1.4rem;
  border: none;
}

.main-style section {
  padding: 1rem;
}

.main-style section fieldset {
  padding: 2rem 4rem 2rem 4rem;
  margin: 1rem 0 1rem 0;
  background: #131314;
  color: #FFFAFF;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}

.main-style section fieldset label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0.5rem;
}

.main-style section fieldset label.icons {
  position: relative;
  margin-top: -0.7rem;
  font-size: 1.75rem;
  top: 1rem;
}

.main-style section fieldset label.icons input[type=radio] {
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1rem 0 0 0.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: dashed 0.3rem #FFFAFF;
  border-radius: 99rem;
  background: #FFFAFF;
  width: 1.3rem;
  height: 1.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 1rem;
  -webkit-transform: translate(0.2rem, -1rem);
          transform: translate(0.2rem, -1rem);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.main-style section fieldset label.icons input[type=radio]:checked {
  background: #D8315B;
  -webkit-transition: ease-in 0.34s;
  transition: ease-in 0.34s;
}

.main-style section fieldset label.icons input[type=radio]:hover {
  background: #3E92CC;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.main-style section fieldset label.icons input[type=checkbox] {
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1rem 0 0 0.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 0.3rem #FFFAFF;
  background: #FFFAFF;
  width: 1.3rem;
  height: 1.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 1rem;
  -webkit-transform: translate(0.2rem, -1rem);
          transform: translate(0.2rem, -1rem);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.main-style section fieldset label.icons input[type=checkbox]:checked {
  background: #3E92CC;
  -webkit-transition: ease-in 0.34s;
  transition: ease-in 0.34s;
}

.main-style section fieldset label.icons input[type=checkbox]:hover {
  background: #ffc13c;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.main-style section fieldset label.icons select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #131314;
  color: #FFFAFF;
}

.main-style section fieldset input {
  border: none;
  border-radius: 0.3rem;
  padding: 0.7rem;
}

.main-style section fieldset textarea {
  border: none;
  border-radius: 0.3rem;
  padding: 2rem;
  margin: 2rem 0 1rem 0;
}
/*# sourceMappingURL=main.css.map */